@{
    ViewData["Title"] = "Auction Register Page";
}
<div class="register-form">
    <form>
        <h2>Register</h2>
        <label for="productName">Product Name:</label>
        <input type="text" id="productName" name="productName" required>

        <label for="productDescription">Product Description:</label>
        <input type="text" id="productDescription" name="productDescription" required>

        <label for="minCost">Minimum Cost:</label>
        <input type="number" id="minCost" name="minCost" required>

        <label for="startDate">Start Date:</label>
        <input type="datetime" id="startDate" name="startDate">

        <label for="endDate">End Date:</label>
        <input type="datetime" id="endDate" name="endDate">

        <label for="condition">Condition:</label>
        <select>
            <option id="used" name="used">Used</option>
            <option id="new" name="new">New</option>
        </select>

        <label for="category">Category:</label>
        <input type="text" id="category" name="category">

        <label for="image">Image:</label>
        <input type="file" id="image" name="image">

        <input type="submit" value="Register">
    </form>
</div>