html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding-top: 80px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-links {
    height: 40px;
    display: table-column;
    gap: 10px;
}

.navbar-link {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: white;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.navbar-link:hover {
    background-color: #ddd;

}

.welcome {
    width: 50%;
    
}

.fc {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vw;
}

/*form {
    height: 20px;
    display: flex;
    flex-direction: column;
}*/

label {
    margin-top: 10px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
 }


label {
    margin-top: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"] {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.icon-container{
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.icon-container img {
    height: 40px;
    width: 40px;
}

.register-form {
    margin: auto;
    margin-top: 10px;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f5f5f5;
}

.register-form h2 {
    margin-bottom: 10px;
}

.register-form label {
    margin-top: 10px;
    display: block;

}

.register-form input[type="text"],
.register-form input[type="password"],
.register-form input[type="email"],
.register-form input[type="submit"],
.register-form input[type="checkbox"] {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.register-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.register-form input[type="submit"]:hover {
    background-color: #45a049;
}

.login-form {
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
 }

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    }

.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    background-color: #45a049;
}

.auction-item {
    display: flex;
    margin-bottom: 50px;
}

.auction-image {
    flex-basis: 40%;
    margin-right: 50px;
}

    .auction-image img {
        max-width: 100%;
    }

.auction-details {
    flex-basis: 60%;
}

    .auction-details h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }

    .auction-details p {
        font-size: 18px;
        margin-bottom: 30px;
    }

.auction-bids {
    display: flex;
    margin-bottom: 30px;
}

.auction-bid {
    margin-right: 30px;
    font-size: 24px;
}

    .auction-bid:last-child {
        margin-right: 0;
    }

    .auction-bid span:first-child {
        font-weight: bold;
    }

.auction-times {
    display: flex;
    margin-bottom: 30px;
}

.auction-time {
    margin-right: 30px;
    font-size: 24px;
}

    .auction-time:last-child {
        margin-right: 0;
    }

    .auction-time span:first-child {
        font-weight: bold;
    }

.auction-type,
.auction-condition {
    font-size: 24px;
    margin-bottom: 20px;
}

    .auction-type span:first-child,
    .auction-condition span:first-child {
        font-weight: bold;
    }
