<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - bidder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/bidder.styles.css" asp-append-version="true" /*@
</head>
<body>
    <header>
        <div class="navbar">
            <a href="#" class="navbar-brand">R.O.J.H Auctions</a>
            <div class="navbar-links">
                <a class="navbar-link" asp-controller="Home" asp-action="Index">Home</a>
                <a class="navbar-link" asp-controller="Login">Login</a>
                @if (ViewBag.user != null)
                {
                    if (ViewBag.user.seller)
                    {
                        <a class="navbar-link" asp-controller="Auction">Auction Register</a>
                    }
                }
                <a class="navbar-link" asp-controller="Register">Register</a>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="fc">
        <div class="cont">
            <hr />
            <p>Group 51 <br/>
                <hr />
            Richard Wilson: 101370635, Section 48622<br/>
            Owen Beattie: 101379668, Section 48621<br/>
            Raleigh Desmond: 101374701, Section 48621<br/>
            Harlan Ferguson: 101133838, Section 48621
        </p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
