@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome">
    <h1>Welcome To R.O.J.H Auctions</h1>
    <p>Were so happy youre here, please login or register!</p>
</div>

<div class="searchBar">
    <form action="/action_page.php">
    <label for="fname">Find an Item</label>
    <input type="text" id="fname" name="fname"><br><br>
    </form>


</div>



