@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Bidder - The platform that allows users full control of what they buy and sell online.</p>
</div>
